<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout1">
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/linearLayout2"
            android:weightSum="3">
            <TextView
                android:text="Chiều Dài"
                android:layout_width="0dp"
                android:layout_height="match_parent"
                android:id="@+id/tv_chieudai"
                android:layout_weight="1"
                android:gravity="center_vertical"
                android:layout_margin="5dp" />
            <EditText
                android:layout_width="0dp"
                android:layout_height="match_parent"
                android:id="@+id/edt_chieudai"
                android:layout_weight="2"
                android:hint="Nhập Chiều Dài"
                android:layout_margin="5dp" />
        </LinearLayout>
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/linearLayout3"
            android:weightSum="3">
            <TextView
                android:text="Chiều Rộng"
                android:layout_width="0dp"
                android:layout_height="match_parent"
                android:id="@+id/tv_chieurong"
                android:layout_weight="1"
                android:gravity="center_vertical"
                android:layout_margin="5dp" />
            <EditText
                android:layout_width="0dp"
                android:layout_height="match_parent"
                android:id="@+id/edt_chieurong"
                android:layout_weight="2"
                android:hint="Nhập Chiều Rộng"
                android:layout_margin="5dp" />
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:weightSum="2"
        android:id="@+id/linearLayout4">
        <Button
            android:text="Tính Diện Tích"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_weight="1"
            android:id="@+id/bnt_tinhdientich" />
        <Button
            android:text="Tính Chu Vi"
            android:layout_width="0dp"
            android:layout_height="match_parent"
            android:layout_weight="1"
            android:id="@+id/bnt_tinhchuvi" />
    </LinearLayout>
    <TextView
        android:text="Diện Tích HCN"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/tv_ketqua"
        android:layout_margin="5dp"
        android:gravity="center"
        android:textSize="25sp" />
</LinearLayout>